<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<p>this card created by <%= card.user_name %></p>

<div id="xmascard">
    <h3><%= card.source.form.message %></h3>
    <img src="<%= card.source.images.low_resolution.url %>" alt=""/>
    <p>TO: <%= card.source.form.to %></p>
</div>

</body>
</html>