<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<header>
    ヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダー
</header>

<% cards.forEach(function(card){ %>
<div class="card">
    <img src="<%= card.imgsrc %>">
    created by <%= card.author %> at <%= card.date%>
</div>
<% }) %>

<footer>
    フッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッター
</footer>
</body>
</html>