<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>

<div class="user">
    <h2>ようこそ</h2>
        <p><span class="strong"><%= oauth.user.username %></span>さんのInstagramからカードに使いたい写真を選んでください</p>
</div>
<img src="<%= oauth.user.profile_picture %>" style="width: 100px">


<div id="photo-select">
    <input type="button" id="more" value="more...">
</div>

<% include client_app.ejs%>
</body>
</html>