<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>

<div class="user">
    <h2>ようこそ</h2>

</div>

<div id="user">
    <p>ログイン情報</p>
    <p class="strong"><%= oauth.user.username %></p>
    <img src="<%= oauth.user.profile_picture %>" style="width: 100px">
</div>



<div id="photo-select">
    <ul id="photo-list"></ul>
    <input type="button" id="more" value="more...">
</div>

<% include client_app.ejs%>
</body>
</html>