<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<div class="container">
<div id="main-content">
<div class="intro">
<div class="user">
    <h2>ようこそ</h2>

</div>

<div id="user">
    <p>ログイン情報</p>
    <p class="strong"><%= oauth.user.username %></p>
    <img src="<%= oauth.user.profile_picture %>" style="width: 100px">
</div>


<div id="board">
    Select Message：
    <select name="greeting" id="greeting">
        <option value="0">- なし -</option>
        <option value="1">Merry Christmas!</option>
        <option value="2">Happy Holidays!</option>
        <option value="4">Ho Ho Ho!</option>
        <option value="5">hoge</option>
        <option value="6">foo</option>
    </select>

    To：<input id="to" type="text" value="" maxlength="10">
    Font：
    <select name="font" id="font">
        <option value="0">Default</option>
        <option value="1">GoogleWebFont1</option>
        <option value="2">GoogleWebFont2</option>
        <option value="3">GoogleWebFont3</option>
    </select>
    Color：
    <select name="font" id="color">
        <option value="0">RED</option>
        <option value="1">GREEN</option>
        <option value="2">GOLD</option>
        <option value="3">WHITE</option>
    </select>

    <input type="submit" id="create" value="CREATE">

    <div id="photo-select">
        <ul id="photo-list">
            <li>
                <div style="background-color: #000; width: 150px; height: 150px;"></div>
                <span class="check">
                    <img src="/img/check.png" alt="">
                </span>
            </li>
        </ul>
        <ul id="photo-list"></ul>
        <input type="button" id="more" value="more...">
    </div>

</div>

<% include client_app.ejs%>
</div>
</div>
</div>
</body>
</html>