<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
accesstoken: <%= oauth.access_token%>
<br>
id:<%= oauth.user.id %>
<br>

<script type="text/javascript">
window.app.auth = <%- JSON.stringify(oauth) %>;
</script>


<img src="<%= oauth.user.profile_picture %>" style="width: 100px">

</body>
</html>