<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<div class="container">
<header>
<h1>
  <img src="/img/logo.png" alt="Insta X'mas Card">
</h1>
</header>
<div id="main-content">
<h2><%= message %></h2>
<p>Welcome to <%= title %></p>

<p>
    Insta X'mas Cardへようこそ。<br>
    あなたが撮影したInstagramの写真で、素敵なクリスマスカードをつくりませんか？<br>
    カードごとに専用のURLが用意されるので、twitterやFacebookから簡単にシェアすることができます。<br>
    ダウンロードもできるので、はがきに印刷したり、iPhoneの壁紙にしてもいいかもしれません。

    <span>

    </span>
</p>


<a href="<%= authURI %>">Create?</a>

<p>&copy;anaguma.org</p>
</div>
</div>
</body>

</html>