<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<h1><%= message %></h1>
<p>Welcome to <%= title %></p>

<p>
    Insta X'mas Cardへようこそ。<br>
    あなたが撮影したInstagramの写真で、素敵なクリスマスカードをつくりませんか？<br>
    カードごとに専用のURLが用意されるので、twitterやFacebookから簡単にシェアすることができます。<br>
    ダウンロードもできるので、はがきに印刷したり、iPhoneの壁紙にしてもいいかもしれません。

    <span>

    </span>
</p>


<a href="<%= authURI %>">Create?</a>

<p>&copy;anaguma.org</p>
</body>

</html>