@import url(http://fonts.googleapis.com/css?family=Amaranth)
@import compass
@import susy

body
  padding-top: 50px
  padding-bottom: 20px
  background-image: url("fabric_of_squares_gray.png")
  color: #737373

li
  list-style-type: none

.note
  font-family: 'Amaranth', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  margin-bottom: 0

.b-line-touch
  margin-bottom: 0

.caption
  font-family: 'Amaranth', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 12px

.strong-text
  font-weight: bold

.v-margin
  margin-top: 5%
  margin-bottom: 10px
  padding-bottom: 0

#access
  padding: 3px
  width: 600px
  padding-top: 10px
  padding-bottom: 10px

.media
  border: #000 solid 2px
  float: left
  margin: 2px